.details {
  padding: 50px;
  color: white;
}

a.back {
  display: block;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  border: solid 1px;
  text-align: center;
  padding: 5px;
}