.tile {
  display: flex;
  width: 28vh;
  height: 28vh;
  margin: 7px;
  font-size: .8rem;
  padding: 10px;
  transition: all 3s ease;
  background-size: cover;
}

.tile:hover {
  animation: 1s flipcard alternate ease-in-out;
}

.tile.back {
  display: block;
}

.tile > h1 {
  font-size: 1.4rem;
  align-self: flex-end;
  margin: 0;
}

.tile > h2 {
  font-size: 1rem;
}

.tile > p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes flipcard {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    color: transparent;
    transform: rotateX(180deg);
  }
  
  100% {
    transform: rotateX(360deg);
  }
}