@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Roboto;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: black;
}

#root {
  width: 100%;
  --primary-color: deepskyblue;
}
